<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon Restaurant - Équipe</title>
    <link rel="stylesheet" href="css/restau.css">
</head>
<body>
    <header>
        <h1>Notre Équipe</h1>
        <nav>
            <ul>
                <%- include("navbar") -%>
               
            </ul>
        </nav>
    </header>

    <section id="equipe">
        <h2>Nos Chefs</h2>
        <% membres.forEach(m => { %> <!-- Utiliser la variable membres -->
            <div class="membre">
                <h3><%= m.nom %></h3>
                <p><%= m.role %></p>
            </div>
                <img src="<%= m.image %>" alt="<%= m.nom %>" />
        <% }) %>  
    
        </section>
        <%- include("footer") -%>
</body>
</html>